.f-Roboto {
  font-family: "Roboto", sans-serif;
}
.f-DmSans {
  font-family: "DM Sans", sans-serif;
}

.f-c-black {
  color: black;
}

.f-w-600 {
  font-weight: 600;
}

.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
